.titulo-unico {
    color: rgb(241, 148, 25);
    text-align: center;
    background-color: rgb(210, 162, 255);
}

.contenedor-servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    background-color: blanchedalmond;
}
.caja {
    background-color: rgb(181, 255, 163);
    text-align: center;
    font-size: 20px;

}

.caja1 {
    grid-area: 1/1/2/4;

}

.caja2 {
    grid-area: 2/1/4/3;
}

.caja3 {
    grid-area:2/3/6/6 ;
}

